@forward 'formulario';
@forward 'botones';
@forward 'acciones';
@forward 'alertas';
@forward 'header';
@forward 'footer';
@forward 'menu';
@forward 'perfil-cliente';
@forward 'venta-detalle';
@forward 'kardex';